{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block title %}Index{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-12">
            <h1>Above</h1>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <h2>Left</h2>
        </div><!-- /.col -->
        <div class="col-md-6">
            <h2>Right</h2>
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock container %}

{% block extra_scripts %}
{% endblock %}