{% extends "form_left.html" %}

{% block title %}Registrieren - instingo Coporate Health{% endblock %}

{% block form_title %}Registrieren{% endblock %}

{% block form_left %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
        {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form role="form" class="well" method="post" action="{% url 'registration_register' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.errors }}
            <label for="id_username">{{ form.username.label_tag }}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="id_email">{{ form.email.label_tag }}</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password1.errors }}
            <label for="id_password1">{{ form.password1.label_tag }}</label>
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.errors }}
            <label for="id_password2">{{ form.password2.label_tag }}</label>
            {{ form.password2 }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Weiter</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}

{% block form_help %}
    <h3>Benutzername</h3>
    <p>Mit dem Benutzernamen können Sie sich später einloggen.</p>

    <h3>E-Mail-Adresse</h3>
    <p>Ihre E-Mail-Adresse muss gültig sein, damit Sie nach der Registrierung
        Ihren Zugang freischalten können.</p>

    <h3>Passwort</h3>
    <p>Das Passwort müssen Sie zwei Mal hintereinander eingeben.</p>

    <h3>Was ist Pflicht?</h3>
    <p>Alle Felder in diesem Formular sind Pflichtfelder.</p>

    <h3>Sie haben bereits einen Benutzernamen?</h3>
    <p>Dann benutzen Sie doch unseren
        <a href="{% url 'django.contrib.auth.views.login' %}">Benutzer-Login</a>.</p>
    <h3>Sie haben einen Benutzernamen aber Ihr Passwort vergessen?</h3>
    <p>Dann lassen Sie sich Ihr <a href="{% url 'auth_password_reset' %}">Passwort zurücksetzen</a>. </p>
{% endblock %}